body {
  background:black;
  color:White;
  font-size:Arial;
}

ul, li {
  margin:0;
  padding:0;
  list-style:none;
}

li {
}

.tempContainer {
  position:relative;
  margin-left:50px;
  float:left;
}

canvas {
  background:#202020;
}