body {
  background:black;
  color:White;
  font-family:Arial;
  font-style:italic;
}

ul, li {
  margin:0;
  padding:0;
  list-style:none;
  position:relative;
}

li {
  position:absolute;
}

.tempContainer {
  position:relative;
  margin-left:50px;
  float:left;
}

.content, .cWrapper {
  float:left;
}

.x li {
  -webkit-transform: rotate(-60deg);
  -webkit-transform-origin:right;
  -moz-transform: rotate(-60deg);
  -moz-transform-origin: right;
}