body {
  background:black;
}

ul, li {
  margin:0;
  padding:0;
  list-stlye:none;
}

ul {
  float:left;
}

li {
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size: 35px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
}

li {
  text-indent:-9999px;
  overflow:hidden;
  margin-left:-.5em;
  float:right;
}

li.up {
  border-bottom-width: 1em;
  border-bottom-style: solid;
  border-bottom-color: Black;
  border-top-width:0;
  bottom: 0.25em;
}

li.down {
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #333;
  border-bottom-width:0;
  margin-top:-.5em;
  top: 0.25em;
  clear:right;
}