ul, li {
  margin:0;
  padding:0;
  list-stlye:none;
}

ul {
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform-origin: bottom left;
  -webkit-transform: bottom left;
  margin-left:300px;
}

li {
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size: 30px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
}

li {
  float:left;
  clear:left;
  text-indent:-9999px;
  overflow:hidden;
  margin-top: -15px;
}

li.odd {
  border-left-width: 1em;
  border-left-style: solid;
  border-left-color: #000;
  left: 0.25em;
}

li.even {
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #202020;
  right: 0.25em;
}