body {
  background:black;
  color:White;
  font-family:Arial;
  font-style:italic;
}

h1 {
  font-weight:normal;
  font-size:24px;
}

ul, li {
  margin:0;
  padding:0;
  list-style:none;
  position:relative;
}

li {
  position:absolute;
}

.tempContainer {
  position:relative;
  margin-left:50px;
  float:left;
}

.content, .cWrapper {
  float:left;
}

.cWrapper {
  margin-top:50px;
}

.x li {
  -webkit-transform: rotate(-60deg);
  -webkit-transform-origin:right;
  -moz-transform: rotate(-60deg);
  -moz-transform-origin: right;
}

.neg .x li {
  -webkit-transform: rotate(60deg);
  -webkit-transform-origin:left;
  -moz-transform: rotate(60deg);
  -moz-transform-origin: left;
}

.actions {position:relative;top:100px;}
.actions li {
  float:none;
  position:static;
  clear:both;
}

.labels {
  width:170px;
  left:-170px;
  bottom:-10px;
  font-weight:normal;
}

.labels li {
  width:98%;
  text-align:right;
  font-size:13px;
}